python-dotenv
langchain
langchain_core
langchain_community
langchain_huggingface
langchain_groq
validators==0.28.1
youtube_transcript_api
langchain-text-splitters
transformers
streamlit
unstructured
yt_dlp